<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="realtime">
        <ion-icon name="pin"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="">
        <ion-icon name="bus"></ion-icon>
        <ion-label>Bus Route</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  